@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<h2>Zlecenia użytkowników</h2>

<br />
<table class="table table-bordered table-striped">
    <tr>
        <th>Opis</th>
        <th>Waga</th>
        <th>Ilość</th>
        <th>Imię klienta</th>
        <th>Nazwisko klienta</th>
        <th>Telefon</th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>
                <a href="@Url.Action("Details", "ZlecenieAdmin", new { @id=Model.Rows[i][6] })">Lokalizacja</a> /
                <a href="@Url.Action("Edit", "ZlecenieAdmin", new { @id=Model.Rows[i][6] })">Przyjmij</a>
            </td>
        </tr>
    }
</table>